
    <div id="principal">


        <h1>Demetris Prodromou</h1>
        <p style="text-align: center; margin-top: -15px;">Student at Jönköping University</p>
        <br>

        <div class="mytextcard">
            <h2>Education</h2>

            <ul class="cv-list">
                <li>High School Diploma, Dali High School (2016-2020)</li>
            </ul>
        </div>

        <div class="mytextcard">
            <h2>Work</h2>
            <ul class="cv-list">
                <li>Cashier/Customer service, ZORBAS BAKERIES LTD</li>
            </ul>
        </div>

        <div class="mytextcard">
            <h2>Computer Skills</h2>
            <ul class="cv-list">
                <li>Programming languages: Java, JavaScript, HTML/CSS</li>
            </ul>
        </div>

        <div class="mytextcard">
            <h2>Languages</h2>
            <ul class="cv-list">
                <li>English (Second)</li>
                <li>Greek (Native)</li>
            </ul>
        </div>

        <div class="mytextcard">
            <h2>Hobbies</h2>
            <ul class="cv-list">
                <li>Playing guitar and music production</li>
                <li>Video Gaming</li>
            </ul>
        </div>

        <footer style="text-align: center; margin-top: 30px; font-size: 0.9em; color: #666;">
            &copy; 2024 My Portfolio. All rights reserved.
        </footer>
    </div>

