<div id="principal">
    <h1>Welcome on my Portfolio!</h1>
    <div class="mytextcard">
        I am Demetris Prodromou, student at Jonkoping University in Sweden.
        <br />
        This site presents my projects and skills as well as my CV. Please feel free to contact me. :)
    </div>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>