<div id="principal">
    <h1>Skills</h1>
    <div class="mytextcard">
        <ul>
            {{#each skills}}
                <li>
                    {{sname}} - ({{stype}}) - {{sdesc}} (Level: {{slevel}})
                </li>
            {{/each}}
        </ul>
    </div>
</div>